	<ThingDef Type="Building" Name="TJHYT" Parent="Build_VirtualDoor">
		<ThingName>太极混元台</ThingName>	
		<Desc>远古人族至宝，可以让纯血人族觉醒先天灵根，在十万年前那场大战中失踪。</Desc>
		<IllustratedHandLabel>NaturalWonders</IllustratedHandLabel>
		<ClassName>TJHYT</ClassName>
		<TexPath>res\Sprs\building_zhengfatianxia\building_wandaozunfazuo01</TexPath>
		<ElementKind>Chaos</ElementKind>
		<Tags>
			<Tag Name="_WONDER" Level="1"/>
		</Tags>
		<TexScale>1</TexScale>
		<SelectAble>1</SelectAble>	
		<CastShadow>0</CastShadow>
		<BlockLight>1</BlockLight>
		<ColliderKind>NoPass</ColliderKind>
		<Collider>
			<!--(0Empty 1Base)+(2EmptyCenter 4EmptyWorkspace)-->
			<Data>
			[1,1,1],
			[1,3,1],
			[1,5,1],
			</Data>
			<OffsetGroup>
				<li><x>0</x><y>0</y></li>
				<li><x>0</x><y>0</y></li>
				<li><x>0</x><y>0</y></li>
				<li><x>0</x><y>0</y></li>
			</OffsetGroup>
		</Collider>
		
		<Building>
			<RoomKind>DanRoom</RoomKind>
			<BePackage>1</BePackage>
			<BeMade>
				<WorkToMake>10000</WorkToMake>
				<Quality>0</Quality>
				<CostItems>
					<Item name = "Item_TJHYT" count = "1" noscale = "1"/>
				</CostItems>
				<CostStuffCount>8</CostStuffCount>
			</BeMade>
			<SnowRenderData>
				<x>2.4</x>
				<y>2.86</y>
				<z>0.5</z>
			</SnowRenderData>
			<Light>
				<Value>125</Value>
				<Failing>0.8</Failing>
				<FailRadius>3</FailRadius>
				<Radius>12</Radius>
				<Color>FDCB64FF</Color>
			</Light>
		</Building>
		
		<Ling>
			<AddionLing>45</AddionLing>
			<AddionRadius>5</AddionRadius>
			<AddionFailing>0.9</AddionFailing>
			<AddionFailRadius>2</AddionFailRadius>
			<Attenuation>0.1</Attenuation>
			<Absorption>0.8</Absorption>
			<Accommodate>40</Accommodate>
		</Ling>
		<Element>
			<Kind>Chaos</Kind>
			<Value>12</Value>         
			<Radius>5</Radius>
			<Failing>0.9</Failing>
			<FailRadius>1</FailRadius>
		</Element>
		
		<StoryBnts>
			<li Name="觉醒灵根" Desc="使用太极混元台觉醒灵根" Cost="1" Appoint="3" Story="LGDX_GTLG"/>
		</StoryBnts>
	</ThingDef>